.works, .blog, .blog_2 {
    display: inline-block;
    background: indigo;
    height: 100px;
    width: 200px;
}

.blog {
    padding: 10px 20px 30px 40px;
    margin: 10px;
    border-top: 10px solid gold;
}
